/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables */
:root{
    --body-color:#f5f5f5;
    --black-color:#000000;
    --white-color:#fff;
    --text-weather-gery:#53627c;
    --orange-color:#ff8c00;
}
body{
    font-family: 'Lora', serif;
    background: var(--body-color);
}

/* Vertical Navbar  */
.vertical-nav-bar{
    height: 6vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search-logo-container{
    display: flex;
    align-items: center;
}
.search-container{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
#searchParams{
    width: 340px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    border: 1.5px solid;
    padding-left: 2px
}
#search{
    background: none;
    border: none;
    cursor: pointer;
}
.time-date-container{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 215px;
}

/* Root Container  */
.root-container{
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.content-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 94vh;
}

.second-root-container{
    overflow-y: scroll;
}

/* New container  */
.news-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.news-card{
    width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--white-color);
    border-radius: 10px;
    height: 200px;
    margin: 20px 0px;
}
.news-img{
    height: 195px;
    width: 325px;
    border-radius: 10px;
}
.text-material{
    width: 600px;
    padding-left: 19px;
}
.news-title{
    width: 600px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.news-discription{
    width: 600px;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
.news-link{
    text-decoration: none;
    color: var(--black-color);
    padding: 0px 10px;
}

/* Other container  */
.other-container{
    display: flex;
    margin-top: 20px;
    background: var(--news-card-color);
    flex-direction: column;
    align-items: center;
}
/* weather container  */
.weather-container{
    height: fit-content;
    width: fit-content;
}
.weather-card{
    padding: 25px 48px;
    background: var(--white-color);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    width: 230px;
}
.city-name{
    font-size: 20px;
    color: var(--text-weather-gery);
}
.temprature{
    font-size: 50px;
}
.celcius{
    font-size: 28px;
}
.country{
    font-size: 15px;
    border-radius: 5px;
    background-color:var(--orange-color) ;
    width: 0px;
    color: var(--white-color);
    padding: 2px 8px;
}
.condition{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-weather-gery);
}

/* Corona Update */
.covid-card{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    margin-top: 30px;
    width: 230px;
    height: 290px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-name{
    font-size: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flag{
    margin-top: 15px;
}
.country-sub-text{
    color: var(--text-weather-gery);
}
.flag-img{
    height: 45px;
}
.total-cases{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active-dead-container{
    display: flex;
    margin-top: 20px;
}
.active-cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
}
.dead{
    display: flex;
    flex-direction: column;
    align-items: center;
}